* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
}

.pj {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
}

.pj > img {
  width: 100%;
  height: 100%;
}
